[submodule "dotvim/bundle/vim-fugitive"]
	path = dotvim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "dotvim/bundle/nerdtree"]
	path = dotvim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree
[submodule "dotvim/bundle/syntastic"]
	path = dotvim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic
[submodule "dotvim/bundle/powerline"]
	path = dotvim/bundle/powerline
	url = git://github.com/Lokaltog/vim-powerline
[submodule "dotvim/bundle/tabular"]
	path = dotvim/bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "tmux-powerline"]
	path = tmux-powerline
	url = git@github.com:Jupotter/tmux-powerline.git
[submodule "dotvim/bundle/vim-omnicppcomplete"]
	path = dotvim/bundle/vim-omnicppcomplete
	url = git://github.com/yandy/vim-omnicppcomplete.git
[submodule "dotvim/bundle/vim-surround"]
	path = dotvim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "dotvim/bundle/gitgutter"]
	path = dotvim/bundle/gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule "dotvim/bundle/undotree"]
	path = dotvim/bundle/undotree
	url = git@github.com:mbbill/undotree.git
[submodule "dotvim/bundle/bufferline"]
	path = dotvim/bundle/bufferline
	url = git@github.com:bling/vim-bufferline.git
[submodule "dotvim/bundle/airline"]
	path = dotvim/bundle/airline
	url = git@github.com:bling/vim-airline.git
[submodule "dotvim/bundle/vim-solarized"]
	path = dotvim/bundle/vim-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "dotvim/bundle/tabline"]
	path = dotvim/bundle/tabline
	url = git://github.com/mkitt/tabline.vim.git
